# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

# Huawei specific init

on init

	chmod 0777 /dev/kgsl-3d0
	chown graphics graphics /dev/kgsl-3d0